/*  Setting a padding will not affect the size of the box. 
    Without boder-box padding increases the size of an 
    element */
*,
*::before,
*::after{
    box-sizing: border-box;
}

.itemList-layout-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

input, select{
    width: 100%;
    text-wrap: nowrap;

    font-weight: 400;
    font-size: 1rem;
    font-family: "Roboto","Helvetica","Arial",sans-serif;

    outline: none;
    border: none;
    border-bottom: solid 2px;
    border-bottom-color: #20202097;

    padding: 8px;

    background-color: white;
    border-radius: 2px;
}

input:focus, select:focus{
    border-bottom: solid 2px;
    border-color: #1565c0;
}

.card {
    max-width: 600px;
    min-width: 300px;

    padding: 10px;
    margin-inline: auto;

    background-color: #F5F5F5;

    border-radius: 8px;
    box-shadow: 0 0.5rem 1.5rem rgb(0 5 100 / 0.3);
}

.arrow-left {
    margin-block: 8px;
    width: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:15px solid #404040; 
}

.readonly{
    color: #888;
}