.border {
    border: solid1;
}

.verticalContainer{
    display: flex;
    flex-direction: column;
}

.centerDiv{
    display: flex;
    justify-content: center;
}

.centerElement {
    justify-content: center;
}

.backButton {
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
    border:none;
    border-radius:10px;
    color: #1565c0;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.backButton:hover {
    background-color: aqua;
}

.editRow {
    /* border: dashed; */
    padding:2px;
    margin: 2px;
    display: flex;
    justify-content: center;
}

.readonly {
    color : grey;
}

.editField {
    background-color: inherit;

    margin-left: 8px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Roboto","Helvetica","Arial",sans-serif;

    border: none;
    border-bottom: solid 1px;
    outline: none;
    border-bottom-color: black;
    width: 150px;
    margin-right: 5px;
}

.textEditField {
    height: 15px;
    padding-bottom: 10px;
}

.selectField {
    padding: 8px;
    background-color: white;
}

.editField:focus {
    border-bottom: solid 2px;
    border-color: #1565c0;
}